In [1]:
print("Hello World")

Hello World

In [1]:
a = 10
print(a)

10

In [1]:
a = 10
b = 5
print(a+b)

15

# hello people
# This is a mardown cell
idek
- a
- b
- c

a = 10;
b = 5;
print(a-b);

In [7]:
import os

In [8]:
print(os.listdir())

['.ipynb_checkpoints', 'First.ipynb', 'HelloWorld.py']

In [10]:
a = 10;
print(type(a));

<class 'int'>

In [14]:
a = input("Enter name: ")
print("Your name is " + a)

Enter name: suraj
Your name is suraj

In [19]:
a = input("Enter Anything: ");
a = int(a);
print(type(a));
print("The type of the variable is " + type(a));

Enter Anything: 12
<class 'int'>

In [26]:
a = int(input("Enter a number: "));
b = int(input("Enter a number: "));
print("The type of a is ", type(a));
if (a > b): print(a, "is greater than", b);
elif(a < b): print(b, "is greater than", a);
else: print("Both", a,  "&", b, "are equal");

Enter a number: 30
Enter a number: 10
The type of a is  <class 'int'>
30 is greater than 10

In [46]:
st = "suraj";
print(st[0 : 3]);
print(st[0 : 5 : 2]);
print(len(st));
print(st.endswith("raj"));
print(st.count("a"));
print(st.capitalize());
print(st.find("a"));
print(st.replace("u", "oo"));

sur
srj
5
True
1
Suraj
3
sooraj

In [48]:
print(input("Enter a name: "), "Good Afternoon");

Enter a name: Suraj
Suraj Good Afternoon

In [57]:
letter = '''Dear <|Name|>,
You are selected
<|Date|>
'''
name = input("Enter the name: ")
date = input("Enter the date: ")
letter = letter.replace("<|Name|>", name)
letter = letter.replace("<|Date|>", date)
print(letter)

# letter = '''Dear <|NAME|>,
# Greetings from ABC coding house. I am happy to tell you about your selection
# You are selected!
# Have a great day ahead!
# Thanks and regards,
# Bill
# Date: <|DATE|>
# '''
# name = input("Enter Your Name\n")
# date = input("Enter Date\n")
# letter = letter.replace("<|NAME|>", name)
# letter = letter.replace("<|DATE|>", date)
# print(letter)

Enter the name: Suraj
Enter the date: 30 Feb 2022
Dear Suraj,
You are selected
30 Feb 2022

In [58]:
story = "Harry is good.\nHe\tis ve\\ry good"
print(story)

Harry is good.
He	is ve\ry good

In [ ]:
fruits = [a, b, c, d, e, f, g];
a = input("First: ");
b = input("Second: ");
c = input("Third: ");
d = input("Fourth: ");
e = input("Fifth: ");
f = input("Sixth: ");
g = input("Seventh: ");
fruits.replace(a) =

In [3]:
print("Enter the marks of six students: ");
a = int(input());
b = int(input());
c = int(input());
d = int(input());
e = int(input());
f = int(input());
student = [a, b, c, d, e, f];
student.sort()
print(student);

Enter the marks of six students:
9
8
7
6
5
4
[4, 5, 6, 7, 8, 9]

In [1]:
a = {
    "name": "suraj",
    "age": 19,
    "branch": "comps",
    "marks": [1, 2, 3, 4],
    "anotherdict": {'type': 'Player'},
}
print(a["anotherdict"]["type"]);
print(list(a.keys()));
print(a.values());
print(a['anotherdict']['type']);
print(a);
print(a.get("branch"));
b = {
    "occupation": "student",
    "education": "BE",
    "degree": "CE"
}
a.update(b);
print(a);

Player
['name', 'age', 'branch', 'marks', 'anotherdict']
dict_values(['suraj', 19, 'comps', [1, 2, 3, 4], {'type': 'Player'}])
Player
{'name': 'suraj', 'age': 19, 'branch': 'comps', 'marks': [1, 2, 3, 4], 'anotherdict': {'type': 'Player'}}
comps
{'name': 'suraj', 'age': 19, 'branch': 'comps', 'marks': [1, 2, 3, 4], 'anotherdict': {'type': 'Player'}, 'occupation': 'student', 'education': 'BE', 'degree': 'CE'}

In [38]:
a = {1, 2, 3, 4};
print(type(a));
b = {};
print(type(b));
c = set();
print(type(c));

<class 'set'>
<class 'dict'>
<class 'set'>

In [67]:
b = set();
print(type(b));
b.add(1);
b.add(2);
b.add(3);
b.add(4);
print(b);
print(len(b));
b.add((5, 6, 7, 8));
print(b);
print(len(b));
b.remove(2);
print(b);
b.pop();
print(b);

<class 'set'>
{1, 2, 3, 4}
4
{1, 2, 3, 4, (5, 6, 7, 8)}
5
{1, 3, 4, (5, 6, 7, 8)}
{3, 4, (5, 6, 7, 8)}

In [4]:
translation = {
    "name": "naam",
    "age": "aayu",
    "education": "shiksha"
}
print("Options are: ", translation.keys());
a = input("Enter the Hindi Word: ");
print("Hindi Translation: ", translation.get(a));

Options are:  dict_keys(['name', 'age', 'education'])
Enter the Hindi Word: name
Hindi Translation:  naam

In [12]:
a = int(input());
b = int(input());
c = int(input());
d = int(input());
e = int(input());
f = int(input());
g = int(input());
h = int(input());
list1 = [a, b, c, d, e, f, g, h];
print(type(list1));
print(list1);
tuple1 = (a, b, c, d, e, f, g, h);
print(type(tuple1));
print(tuple1);
set1 = {a, b, c, d, e, f, g, h};
print(type(set1));
print(set1);

1
2
3
4
5
6
7
8
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s = set();
s.add(20);
s.add(20.0);
s.add("20");
print(s);
print(len(s));

In [ ]:
a = int(input("Enter first no: "));
b = int(input());
c = int(input());
d = int(input());
if(a > b):
    if(a > c):
        if(a > d):
            print(a, "is greatest")
        else:
            print(d, "is greatest")
    else:
        if(c > d):
            print(c, "is greatest")
        else:
            print(d, "is greatest")
else:
    if(b > c):
        if(b > d):
            print(b, "is greatest")
        else:
            print(d, "is greatest")
    else:
        if(c > d):
            print(c, "is greatest")
        else:
            print(d, "is greatest")

In [4]:
username = "raghuramrajan";
a = len(username);
if(a < 10):
    print("less than 10")
else:
    print("more than 10")

more than 10

In [7]:
list2 = [6, 7, 8, 9, 10];
i = 0;
while (i < 5):
    print(list2[i]);
    i = i + 1;

6
7
8
9
10

In [14]:
dict2 = {"a", "b", "c", "d"};
if "g" in dict2:
    print("yes");
else:
    print("No");
    
list2 = [7, 8, 9, 10];
for item in list2:
    print(item);
else:
    print("done")
for item in range(0, 7, 2):
    print(item);

No
7
8
9
10
done
0
2
4
6

In [4]:
i = 10;
while (i > 1):
    print("5 x", i, "=", 5 * i);
    i = i - 1;

5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10

In [24]:
l1 = ["Harry", "Soham", "Sachin", "RahSl"];
for x in l1:
    if "S" in x[0]:
        print("Hello " + x);
    else:
        continue;

Hello Soham
Hello Sachin

In [1]:
num = int(input());
i = 2;
isprime = 1;
for i in range(2, num):
    if(num % i == 0):
        isprime = 0
        break;
if isprime == 0:
    print(str(num) + " is not prime");
else:
    print(str(num) + " is prime");

20
20 is not prime

In [1]:
#sum of first n natural nos. using while loop
n = int(input());
i = 1;
sum1 = 0;
while i < n:
    sum1 = sum1 + i;
    i = i + 1;
print(sum1);

10
45

In [11]:
#factorial of a given no
n = int(input());
f = 1;
for i in range(1, n+1):
    f = f * i;
print(f"The factorial of {n} is {f}");

2
The factorial of 2 is 2

In [16]:
#star pattern 1
# n = 3;
# for i in range(0, n):
#     for j in range(0, n):
#     {
#         if(j <= i):
#             print("*");
#     }

IndentationError: expected an indented block after 'for' statement on line 4 (2050756520.py, line 5)

In [19]:
n = 3;
for i in range(1, n+1):
    for j in range(0, i):
        print("*", end = " ")
    print(" ")
print("\n")
for i in range(n):
    print(" " * (n - i -1), end = " ")
    print("*" * (2 * i + 1), end = " ")
    print(" " * (n - i -1))

*
* *
* * *


   *
  ***
 *****

In [15]:
def fun1(): {
    print("Hello!!!")
}
fun1()

def fact(n): 
    if n == 0:
        return 1
    else:
        return fact(n - 1)*n;
print("fact of 3 =", fact(3))

def greatest(a, b, c):
    if(a >= b and a >= c):
        return a;
    elif(b >= a and b >= c):
        return b;
    else:
        return c;
print("greatest is ", greatest(1, 9, 5))

def celtofar(temp):
    return temp * 1.8 + 32
print("1 celsius =", celtofar(1))

def sumofn(n):
    if n <= 1:
        return n
    else:
        return sumofn(n - 1) + n
print("sum when n = 5 is", sumofn(5))

# def pattern1(n):
#     for i in range(0, n):
#         j = n - i;
#         while(j > 0, end = "\n")
#             print("*", end = " ")
#             j  = j - 1
# pattern1(3)

n = 3
for i in range(n):
    print("*" * (n-i)) # Prints * n-i times

Hello!!!
fact of 3 = 6
greatest is  9
1 celsius = 33.8
sum when n = 5 is 15
***
**
*

In [2]:
def routine(p, q, r, *s, d, e):
    print(p)
    print(q)
    print(r)
    print(s)
    print(d)
    print(e)

routine("Super", "Robot", "Monkey", "Team", "Hyper", d = "Force", e = "Go")

SyntaxError: invalid syntax (1759206658.py, line 1)